.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.question-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.answer-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.question-button {
  height: 50px;
  width: 170%;
  padding: 10px 20px;
  text-align: left;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}

.question-button.selected {
  background-color: lightblue;
}

.question-text {
  font-size: 30px;
}

.results {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%
}

#submit-assesment {
  display: none;
}

#next-question-button {
  width: 150px;
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

header {
  font-size: 20px;
  font-family: arial;
  color: white;
  background-color: lightskyblue;
  margin-top: 0;
  border-top: 20px solid lightskyblue;
  padding-left: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}